.dashboard_area {
  display: flex;
  height: 100vh;
  .left_bar {
    max-width: 280px;
    width: 100%;
  }
  .right_bar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: scroll;

    .top_nav_bar {
      position: sticky;
      left: 0;
      top: 0;
      z-index: 100;
    }

    .dashboardContent {
      flex: 1;
      padding: 25px;
      height: calc(100vh - 70px);
      overflow: auto;
    }
  }
}


.my_job_tab_active{
  font-weight: bold;
  color: red
}

.waitForActivation{
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.waitForActivation {
    text-align: center;
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
}

.vector-container {
    margin-bottom: 20px;
    display: flex;
    // justify-content: center;
}
.message-container{
  display: flex;
  // justify-content: center;
  flex-direction: column;
}

.vector-image {
    max-width: 250px;
    width: 100%;
    height: auto;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}
}