#login {
  width: 100%;
  .inner_login {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.182);
    padding: 0;
    max-width: 999px;

    .login_container {
      flex-basis: 50%;
      flex-shrink: 0;
      padding: 29px 39px;

      .title {
        color: $text-gray-500;
        font-size: 24px;
        text-transform: uppercase;
      }
      input {
        border-radius: 2px;
      }
      label,
      .sub_title {
        color: $text-gray-100;
      }
      a {
        color: blueviolet;
      }
      button[type="submit"] {
        background-color: $primary-500;
        text-transform: uppercase;
        border-radius: 2px;
      }
      button[type="submit"]:disabled {
        background-color: $primary-200;
      }
    }

    .login_right {
      flex-basis: 50%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url("../../src/assets/images/door.jpg");
      background-size: cover;
      // background-attachment: fixed;
      // mix-blend-mode: darken;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      h2 {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 9px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .login_container {
      flex-basis: 100% !important;
    }
    .login_right {
      display: none !important;
    }
  }
}
